<a href="https://colab.research.google.com/github/surajfifa15/python-Notes/blob/main/python_sets_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Sets in Python**

A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

**Unordered**

Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

**Unchangeable**

Set items are unchangeable, meaning that we cannot change the items after the set has been created

*Set are represented by { } (values enclosed in curly braces)*

The major advantage of using a set, as opposed to a list, is that it has a highly optimized method for checking whether a specific element is contained in the set. This is based on a data structure known as a hash table. Since sets are unordered, we cannot access items using indexes as we do in lists.

**Set Functions**
1. Sets

2. sets add() 

3. set pop()

4. set remove()

5. set clear()

6. set dicard()

7. set update()

8. set () constructor

9. set union()

5. set intersection()

6. set intersection_update()

8. set.symmetric_difference(set)

9. set symmetric_difference_update()

**1.Sets**

In [1]:
s={10,20,30,40}
print(s)

{40, 10, 20, 30}

** iterating through set**

In [2]:
s={10,20,30,40}

for a in s:
  print(a)

40
10
20
30

**2.Set add()**

In [26]:
k=90
s={10,20,30,40,50}
s.add(k)

print(s)

{50, 20, 90, 40, 10, 30}

**3.set pop()**

Definition and Usage

The pop() method removes a random item from the set.

This method returns the removed item.

In [17]:
s={10,20,30,40,50}
s.pop()

print(s)

{20, 40, 10, 30}

*** you can easly to identify which no. is delete**

In [18]:
s={10,20,30,40,50}
print(s.pop())

50
20
{40, 10, 30}

**3.set remove()**

In [8]:
a=(10,20,30,40)
s.remove(20)

print(s)

{40, 10, 30}

**4.set clear()**

In [29]:
s={10,20,30,40,50}
s.clear()

print(s)

set()

**5.set discard()**

In [27]:
s={10,20,30,40,50}
s.discard(30)

print(s)

{50, 20, 40, 10}

**6.set update()**

In [23]:
l={20,60,70,80}
s={10,20,30,40,50}
s.update(l)

print(s)

{70, 40, 10, 80, 50, 20, 60, 30}

**10.set () constructor**

In [30]:
clanSet=("naruto","gaara","lee")
print(type(clanSet),clanSet)
clanSet=set(clanSet)
print(type(clanSet),clanSet)

<class 'tuple'> ('naruto', 'gaara', 'lee')
<class 'set'> {'lee', 'gaara', 'naruto'}

**11. Set Union()**

The union() method returns a set that contains all items from the original set, and all items from the specified set(s).

You can specify as many sets you want, separated by commas.

It does not have to be a set, it can be any iterable object.

If an item is present in more than one set, the result will contain only one appearance of this item.

In [43]:
'''Eg 1: Set union'''
x={"ram","karan","sohan"}
y={"alice","tom","jerry"}
a = y.union(x)

print(a)

{'sohan', 'ram', 'jerry', 'karan', 'tom', 'alice'}

In [41]:
'''Eg 2: multiple Set union'''

w = {"naruto","lee"}

x = {"naruto", "sakura", "lee"}

y = {"sakura", "sakura", "kakashi"}

z={"sakura","lee"}


a = w.union(x,y,z)

print(a)

{'sakura', 'naruto', 'kakashi', 'lee'}

**12.set intersection()**

The intersection() method returns a set that contains the similarity between two or more sets.

Meaning: The returned set contains only items that exist in both sets, or in all sets if the comparison is done with more than two sets.

In [38]:
#Ex- 1
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Ex-2
Compare 3 sets, and return a set with items that is present in all 3 sets:

In [39]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

**13.set symmetric_difference()**

Definition and Usage

The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.

Meaning: The returned set contains a mix of items that are not present in both sets.

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'microsoft', 'banana', 'google', 'cherry'}

**14.set symmetric_difference_update()**

Definition and Usage

The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.

Ex-1
Remove the items that are present in both sets, AND insert the items that is not present in both sets:

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) 

print(x)

{'microsoft', 'banana', 'google', 'cherry'}